videoplayback.mp4
# Dataset — pode ser gigabyte, não sobe no git
dataset_tratado/
dataset/
dataset_novo/
dataset_v3/
*.zip
yolo_dataset/
models/
TRAIN/

sign_model.tflite
sign_model.keras
sign_model.h5
sign_labels.txt
training_report.png
yolo8n.onnx
yolo8n.pt



logs/
checkpoints/


.DS_Store
Thumbs.db

